/* ************** Body and Main Container ************** */


html {
	background-color: #bdbdbd;
	color:#3d4649;
}

body {
	text-align: center;
	font-family: "Verdana", Sans-serif;
	font-size: 12px;
	height: 1024px;
	background: #bdbdbd url('../_images/background_gradient.png') repeat-x left top;
}

#main_container {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	text-align: left;
	background: #1a6fb0; /*fallback for non-CSS3 browsers*/
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF) to(#c2dfef)); /*old webkit*/
	background: -webkit-linear-gradient(#FFFFFF, #c2dfef); /*new webkit*/
	background: -moz-linear-gradient(#FFFFFF, #c2dfef); /*gecko*/
	background: -ms-linear-gradient(#FFFFFF, #c2dfef); /*IE10*/
	background: -o-linear-gradient(#FFFFFF, #c2dfef); /*opera 11.10+*/
	background: linear-gradient(#FFFFFF, #c2dfef); /*future CSS3 browsers*/
	-pie-background: linear-gradient(#FFFFFF, #c2dfef); /*PIE*/
	behavior: url(/_pie.htc);
}

/* ************** Global Tags ************** */

h1 {
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 24px;
	margin:20px 0 0 20px;
	color: #505050;
	font-weight:normal;
}

h2 {
	margin:20px 0 0 20px;
	font-size:20px;
	font-weight:normal;	
}

h3 {
	margin:20px 0 0 20px;
	font-size:16px;
	color: #505050;
	font-weight:normal;
}

h4 {
	margin:20px 0 0 20px;
	font-size:12px;
	color: #505050;
	font-weight:bold;
}

a {
	color: #005dab;
	text-decoration:none;
}

p {
	line-height:15px;
	margin:20px 0 20px 20px;
}

strong {
	font-weight:bold;
}

aside {
	float: left;
}

header {
	height: 166px;
	background-color: #004076;
}

header img {
	margin-left: 23px;
	margin-top: 17px;
	float: left;
}


/* ************** Global Elements************** */


.module_300 {
	width: 300px;
	margin: 20px 0 0 20px;
	background-color: #FFF;
}

.module_300 p {
	margin:14px;
}

.module_450 {
	width: 450px;
	margin: 20px 0 0 20px;
	background-color: #FFF;
}

.module_600 {
	width: 600px;
	margin: 20px 0 0 20px;
	background-color: #FFF;
}

.module_920 {
	width: 920px;
	margin: 20px 0 0 20px;
	background-color: #FFF;
}

.module_header_with_icon {
	color: #FFF;
	margin-top: 0px;
	padding: 14px 0 16px 65px ;
	position:absolute;
	z-index: 0;
}

.module_header_icon {
	margin:10px 0 0 14px;
	position:absolute;
	z-index: 20;
}

.module_header_no_icon {
	color: #FFF;
	padding: 15px 0 16px 14px ;
	position:relative;
	z-index: 0;
	font-size: 23px;
}

h3.module_header_no_icon {
	padding: 15px 0 16px 14px;
	margin-left:0px;
}

h1.module_header_no_icon, h1.module_header_with_icon {
	margin-bottom:-1px;
	margin-left:0px;
}

a.module_header_view_all {
	float:right;
	position: relative;
	z-index: 10;
	margin:-33px 20px 0 0;
	color:#FFF;
	text-decoration: none;
}

.header_gradient {
	background: #1a6fb0; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#4f8fc5) to(#004076)); /*old webkit*/
    background: -webkit-linear-gradient(#4f8fc5, #004076); /*new webkit*/
    background: -moz-linear-gradient(#4f8fc5, #004076); /*gecko*/
    background: -ms-linear-gradient(#4f8fc5, #004076); /*IE10*/
    background: -o-linear-gradient(#4f8fc5, #004076); /*opera 11.10+*/
    background: linear-gradient(#4f8fc5, #004076); /*future CSS3 browsers*/
    -pie-background: linear-gradient(#4f8fc5, #004076); /*PIE*/
    behavior: url(/_pie.htc);
}

.rounded_corners_10 {
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    behavior: url(/_pie.htc);
}

.rounded_top_corners_10 {
	-moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -khtml-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    behavior: url(/_pie.htc);
}

.drop_shadow_14 {
	-moz-box-shadow: 14px 14px 14px #000;
  	-webkit-box-shadow: 14px 14px 14px #000;
	box-shadow: 0px 14px 14px #8c8c8c;
	behavior: url(/_pie.htc);
}

.inner_shadow_2 {
	-moz-box-shadow: inset 2px 2px 2px #7a7a7a;
  	-webkit-box-shadow: inset 2px 2px 2px #7a7a7a;
	box-shadow: inset 2px 2px 2px #7a7a7a;
	position:relative;
	z-index:10;
	behavior: url(/_pie.htc);
}

.clear_float {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.error {
	color: red;
}

#main_content {
	float: left;
}

#main_content h2 {
	/*margin-left: 20px;
	margin-top: 20px;*/

}

#main_content form {
	margin-left: 20px;
	margin-right: 20px;
}

#main_content input {
	/*position: absolute;*/
}

#main_content label {
	margin-top:20px;
}

/* ************** Header ************** */

#login_social_navigation {
	background-color: #ee7b10;
	color: #FFF;
	float: right;
	margin-top: 20px;
	margin-right: 27px;
	padding: 2px 6px;
}

#login_social_navigation a {
	font-size: 10px;
	color: #FFF;
	float:left;
	text-decoration: none;
	margin-top: 2px;
	padding: 0 6px;
	
}

#login_social_navigation li {
	float:left;
}

#main_navigation {
	margin-top: 12px;
	
}

#main_navigation li a {
	text-decoration: none;
	color: #737373;
	display:block;
	padding: 10px 0;
}

#main_navigation li {
	text-transform: uppercase;
	text-align: center;
	float:left;
	width: 191px;
	background-color: black;
	border-top: 1px solid #91aac0;
	border-right: 1px solid #CCC;
	background: #FFF url('../_images/main_navigation_gradient.png') repeat-x left top;
}

#main_navigation li.current {
	color:blue;
	background: #FFF url('../_images/main_navigation_gradient_current.png') repeat-x left top;
}


#footer_navigation {
	text-align: center;
	margin-top: 14px;
	font-size: 11px;
}


/* ************** Home ************** */


.article_snippet {
	border-top: 1px solid #bebebe;
	/*padding-bottom: 20px;*/
	/*margin:0px 20px 20px 20px;
	padding-top: 14px;*/
}

.article_snippet h2 a {
	/*color: #005dab;*/
}

.article_snippet h3 {
	margin-top:0px;
}

.article_snippet h2 {
	font-size: 24px;
	font-weight: normal;
}

.article_snippet .date_and_category {
	color: #3D4649;
	position: relative;
	font-size: 12px;
}

.module_600 .article_snippet p {
	width: 550px;
}
/*
.article_snippet a.category {
	font-weight: bold;
	font-size: 10px;
}*/

#home #feature {
	position: relative;
	color: #005dab;
	font-size:12px;
	padding-bottom: 1px;
	z-index: 0;
}

#home #feature p {
	width: 190px;
}

#home #feature img {
	/*position: absolute;
	z-index: 10;
	top: 24px;
	left: 207px;*/
}

/* ************** Search Module ************** */

#search_module {
	height: 86px;
	padding-bottom: 15px;
}

#search_module h3 {
	color: #FFF;
	padding: 15px 0 16px 14px ;
	position:relative;
	z-index: 0;
	font-size: 23px;
	margin-left:0px;
}

#search_module input[type="text"] {
	height: 18px;
	width: 185px;
	margin-left: 14px;
}

.article_search_button {
   border: none;
   text-transform: uppercase;
   background-color: transparent;
   text-decoration: none;
   color: #FFF;
   margin-left: 8px;
}

#home #banner_ad img {
	margin: 16px 0 10px 15px;
}

#breadcrumb {
	margin-top: 25px;
	margin-left: 25px;
	color:#505050;
}

#breadcrumb a {
	color:#505050;
	text-decoration:none;
}

/* ************** Articles ************** */

.article p, .static_page p {
	margin-left:20px;
	padding-right:20px;
}

.article p {
	margin-left:20px;
	padding-right:20px;
}

.article .date {
	margin-left:20px;
}

.category_module {
	float: left;
}

.pagination_module {
	float: left;
}

#pagination {
	padding: 15px;
}

#print_share {
	margin:19px 0 0 77px;
	padding-left:5px;
	font-size:13px;
}

.addthis_toolbox {
	float:left;
	margin:20px 0 0 20px;
}

/* ************** Static Pages ************** */

.static_page p {
	margin-left:20px;
	padding-right:20px;
}

.static_page p {
	margin-left:20px;
	padding-right:20px;
}



/* ************** Related Articles Module ************** */

#related_articles a {
	text-decoration:none;
}

#related_articles h4 {
	margin: -1px 15px 0 15px;
	border-top: solid 1px 
	#E5E5E5;
	padding: 15px 0 15px 0px;
}

#related_articles .date {
	color: #005DAB;
	position: relative;
	font-size: 8px;
	font-weight: bold;
	margin-left: 5px;
}

/* ************** Footer ************** */

#partner_sites {
	/*position: relative;*/
	padding: 14px 0 14px 0;
}

#partner_sites a {
	color: #3a3a3a;
	text-decoration: none;
}

#partner_sites .column_1 {
	position: absolute;
	margin-left: 20px;
}

#partner_sites .column_2 {
	position: absolute;
	margin-left: 340px;
}

#partner_sites .column_3 {
	position: absolute;
	margin-left: 640px;
}

#footer_navigation {
	height: 30px;
}
